body {
    background-color: gray;
}

h1 {
    text-align: center;
    padding-top: 0px;
    font-size: 70px;
    background-color: rgba(255, 255, 255, 0.7); /* Background color with opacity */
    border-radius: 10%; /* Make the background round */
    width: fit-content; /* Set the width to fit the content */
    margin: auto; /* Center the element */
}

a {
    text-align: center;
    color: inherit;
    text-decoration: none;
}
