body {
    background-color: #0a9b9480; /* Red */
}

header {
    background-color: rgba(80, 134, 138, 0.315);
}

.image-container {
    display: inline-block;
    margin-right: 20px; /* Add margin between the images */
    vertical-align: top; /* Align images at the top */
}