body {
    background-color: #0a9b9480; /* Red */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

header {
    background-color: rgba(80, 134, 138, 0.315);
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it appears above other content */
    padding: 15px 0; /* Add padding to the top and bottom */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    text-align: center; /* Center align text */
}

header h1 {
    color: #333; /* Change text color */
    font-family: 'Arial', sans-serif; /* Change font family */
    font-size: 24px; /* Increase font size */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 2px; /* Add letter spacing */
    margin: 0; /* Remove margin */
}

.image-container {
    display: inline-block;
    margin-right: 20px; /* Add margin between the images */
    vertical-align: top; /* Align images at the top */
}

.image-container2 {
    display: inline-block; /* Display images beside each other */
    margin-right: 20px; /* Add margin between the images */
    vertical-align: top; /* Align images at the top */
}

footer {
    text-align: center;
    margin-top: 20px;
}

/* CSS for the message box */
#message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}


.hidden {
    display: none;
}

#owner {
    margin-top: -30px; /* Adjust this value to move the h2 element up */
    margin-right: 10px; /* Optional: Add some right margin */
    text-align: right;
}