/* Styles for the buttons */
.button {
    display: block;
    padding: 20px; /* Increase padding to make buttons bigger */
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px; /* Adjust spacing between buttons */
}

.button:hover {
    background-color: #555;
}

/* Additional styles for the header */
.header {
    text-align: center; /* Center align the header content */
}

.title {
    margin: 0;
    margin-bottom: 20px; /* Adjust spacing between title and buttons */
}
