/* player.css */

#player {
    width: 70px;
    height: 40px;
    background-color: black;
    position: absolute;
    left: 3.5%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.projectile {
    width: 10px;
    height: 5px;
    background-color: red; /* Adjust the color of the projectile */
    position: absolute;
    top: 0;
}
