body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #263747; /* Light gray background color */
}

div {
    text-align: center;
    padding: 20px;
}

#categoryInput {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 16px;
    margin-bottom: 10px; /* Add margin to separate from the paragraph */
}

/* Add styles for the search button */
#searchButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/* Style the button on hover */
#searchButton:hover {
    background-color: #45a049;
}

p {
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
}
